/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    margin-top: 20px;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 2px solid #ddd;
}

/* Contenido principal */
.main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}
